# OpenAI API Key
OPENAI_API_KEY=your_api_key_here

# Upstash Redis
UPSTASH_REDIS_URL=your_upstash_redis_url_here
UPSTASH_REDIS_TOKEN=your_upstash_redis_token_here

# Qdrant
QDRANT_URL=your_qdrant_url_here
QDRANT_API_KEY=your_qdrant_api_key_here
QDRANT_COLLECTION=your_qdrant_collection_name_here
EMBEDDING_MODEL=all-MiniLM-L6-v2
RETRIEVER_TOP_K=3